.App {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  min-height: 100vh; 
  background-color: #916697;
}

.bubble-text {
  background-color: #7247b8; /* Background color */
  color: rgba(255, 255, 255, 0.993); /* Text color */
  padding: 10px 15px; /* Adjust padding as needed */
  border-radius: 20px; /* Rounded corners */
  display: inline-block; /* Display as inline block */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
